/* oxygen-300 - latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: url("Oxygen/oxygen-v5-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Oxygen Light"), local("Oxygen-Light"), url("Oxygen/oxygen-v5-latin-300.eot?#iefix") format("embedded-opentype"), url("Oxygen/oxygen-v5-latin-300.woff2") format("woff2"), url("Oxygen/oxygen-v5-latin-300.woff") format("woff"), url("Oxygen/oxygen-v5-latin-300.ttf") format("truetype"), url("Oxygen/oxygen-v5-latin-300.svg#Oxygen") format("svg");
  /* Legacy iOS */
}
/* oxygen-regular - latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url("Oxygen/oxygen-v5-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Oxygen"), local("Oxygen-Regular"), url("Oxygen/oxygen-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("Oxygen/oxygen-v5-latin-regular.woff2") format("woff2"), url("Oxygen/oxygen-v5-latin-regular.woff") format("woff"), url("Oxygen/oxygen-v5-latin-regular.ttf") format("truetype"), url("Oxygen/oxygen-v5-latin-regular.svg#Oxygen") format("svg");
  /* Legacy iOS */
}
/* oxygen-700 - latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: url("Oxygen/oxygen-v5-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Oxygen Bold"), local("Oxygen-Bold"), url("Oxygen/oxygen-v5-latin-700.eot?#iefix") format("embedded-opentype"), url("Oxygen/oxygen-v5-latin-700.woff2") format("woff2"), url("Oxygen/oxygen-v5-latin-700.woff") format("woff"), url("Oxygen/oxygen-v5-latin-700.ttf") format("truetype"), url("Oxygen/oxygen-v5-latin-700.svg#Oxygen") format("svg");
  /* Legacy iOS */
}
/* line 43, ../../../sass/components/fonts/oxygen.scss */
* {
  font-family: Oxygen, sans-serif;
}
